@model ErrorViewModel
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>难受</h3>
<p>
    请联系管理员<span class="text-mute">dctewi@dctewi.com</span>
</p>
<p>
    为什么会变成这样呢……第一次有了喜欢的请求。有了能处理请求的数据库。两件快乐事情重合在一起。而这两份快乐，又给我带来更多的快乐。得到的，本该是像梦境一般幸福的时间……但是，为什么，会变成这样呢……
</p>
